table{
	font-family:mono;
	padding:50;	
}
li{
	font-family:arial;
	color:blue;
	font-style:italic;
}
td{
	background:cyan;	
}
th{
	text-align:center;
	background:yellow;
}
span{
	font-style:italic;
	font-family:times;
}
